:root {
  --profilePicSize: 7rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.test {
  display: flex;
  /* margin: 30px; */
  justify-content: space-between;
}

/* Body {
  background-image: url(./images/login_bg.jpg);
  background-position: static;
  background-repeat: no-repeat;
  background-size: cover;
} */

.myProfile h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.profiles {
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.profileCard {
  
  width: 25rem;
  height: 15rem;
  border: 2px solid white;
  border-radius: 0.3rem;
  margin: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #eee;
  color: #333;
}

.profileCardPhoto {
  position: absolute;
  height: var(--profilePicSize);
  width: var(--profilePicSize);
  border: 0.5rem solid white;
  margin: auto;
  top: calc((var(--profilePicSize) - (var(--profilePicSize) * 2)) / 2);
  border-radius: 50%;
  background-image: url("../public/images/anastase-maragos-DHsdSeCpjRU-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.profileCard * {
  padding: 0.25rem;
}

.profileCard p {
  margin-bottom: 0;
}

.profileCard h4 {
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #ccc;
}

.profileCardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.pageContainer {
  background-image: url(./images/login_bg.jpg);
  background-position: static;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.loginContainer {
  height: 75%;
  width: 50%;
  border: 2px solid darkgray;
  display: flex;
  justify-content: space-evenly;
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.loginContainerLeft {
  width: 50%;
  background-color: white;
}

.loginContainerLeft img {
  max-width: 100%;
}

.loginContainerLeft * {
  margin: 0.25rem;
}

.loginContainerRight {
  width: 50%;
  /* fallback for old browsers */
  background: rgb(2, 0, 36);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(270deg, rgba(230,11,71,1) 0%, rgba(234,79,122,1) 100%); */
  background: linear-gradient(
    90deg,
    rgba(47, 158, 97, 1) 0%,
    rgba(7, 78, 39, 1) 100%
  );

  display: flex;
}

.HmePage {
  display: flex;
  justify-content: center;
  
  
}


.NavContainer {
  
  margin-top: 300px;
  
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card{
  display: flex;
  

}

.card-body input {
  display: flex;
  
}